@model Shop.Models.Favorite

@{
    ViewBag.Title = "Details";
    
}

<h2>مشاهده</h2>

<div>
    @*<h4>Favorite</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Product.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.username)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("ویرایش", "Edit", new { id = Model.favoriteID }) |
    @Html.ActionLink("بازگشت به لیست", "Index")
</p>
