@using PagedList;
@using PagedList.Mvc;
@model IPagedList<Shop.Models.City>

@{
    ViewBag.Title = "Index";

}

@*<h2>Index</h2>*@
<style>
    input[type=text] {
        width: 250px;
        height: 35px;
        border-radius: 4px;
        outline: none;
        border: 1px solid #DDDDDD;
        padding: 8px;
    }

    input:focus {
        border-color: #16a7eb;
        box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    }
</style>
<p>
    @Html.ActionLink("جدید", "Create")
</p>
<p>
    @using (Html.BeginForm("Index", "City", FormMethod.Get))
    {
    <input type="text" name="search" /> <input type="submit" value="جستجو"  class="btn-group btn btn-primary"/>
    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model[0].cityName)
        </th>
        <th>
            استان
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.cityName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State.stateName)
            </td>
            <td>
                @Html.ActionLink("ویرایش", "Edit", new { id = item.cityID }) |
                @Html.ActionLink("مشاهده", "Details", new { id = item.cityID }) |
                @Html.ActionLink("حذف", "Delete", new { id = item.cityID })
            </td>
        </tr>
    }

</table>
<div class="panel-body">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), PagedListRenderOptions.ClassicPlusFirstAndLast)
</div>
