@using PagedList;
@using PagedList.Mvc;
@model IPagedList<Shop.Models.OrderProduct>

@{
    ViewBag.Title = "Index";

}

@*<h2>Index</h2>*@
<style>
    input[type=text] {
        width: 250px;
        height: 35px;
        border-radius: 4px;
        outline: none;
        border: 1px solid #DDDDDD;
        padding: 8px;
    }

    input:focus {
        border-color: #16a7eb;
        box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    }
</style>
<p>
    @Html.ActionLink("جدید", "Create")
</p>
<p>
    @using (Html.BeginForm("Index", "OrderProduct", FormMethod.Get))
    {
        <input type="text" name="search" /> <input type="submit" value="جستجو" class="btn-group btn btn-primary" />
    }
</p>
@{ var sort = ViewBag.SortType;}
<table class="table">
    <tr>
        <th>
            @{ if (sort == "count")
                {
                    <a href="/OrderProduct/Index/?sort=count_desc" style="color:white"> تعداد <i class="fa fa-caret-down"></i></a>
                }
                else
                {
                    <a href="/OrderProduct/Index/?sort=count" style="color:white">تعداد <i class="fa fa-caret-up"></i></a>
                }
            }
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model[0].Orde.orderID)

            </th>*@
        <th>
            @{ if (sort == "username")
                {
                    <a href="/OrderProduct/Index/?sort=username_desc" style="color:white"> نام کاربری <i class="fa fa-caret-down"></i></a>
                }
                else
                {
                    <a href="/OrderProduct/Index/?sort=username" style="color:white">نام کاربری <i class="fa fa-caret-up"></i></a>
                }
            }
        </th>
        <th>
            @{ if (sort == "name")
                {
                    <a href="/OrderProduct/Index/?sort=name_desc" style="color:white"> محصول <i class="fa fa-caret-down"></i></a>
                }
                else
                {
                    <a href="/OrderProduct/Index/?sort=name" style="color:white"> محصول <i class="fa fa-caret-up"></i></a>
                }
            }
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.count)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Orde.orderID)
            </td>*@
            <td>@Html.DisplayFor(modelItem=> item.Orde.User.username)</td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.name)
            </td>
            <td>
                @Html.ActionLink("ویرایش", "Edit", new { id = item.orderProductID }) |
                @Html.ActionLink("مشاهده", "Details", new { id = item.orderProductID }) |
                @Html.ActionLink("حذف", "Delete", new { id = item.orderProductID })
            </td>
        </tr>
    }

</table>
<div class="panel-body">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), PagedListRenderOptions.ClassicPlusFirstAndLast)
</div>
