@using PagedList;
@using PagedList.Mvc;
@model IPagedList<Shop.Models.Orde>

@{
    ViewBag.Title = "Index";

}

@*<h2>Index</h2>*@

@*<p>
        @Html.ActionLink("جدید", "Create")
    </p>*@
<style>
    input[type=text] {
        width: 250px;
        height: 35px;
        border-radius: 4px;
        outline: none;
        border: 1px solid #DDDDDD;
        padding: 8px;
    }

    input:focus {
        border-color: #16a7eb;
        box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    }
</style>
<p>
    @using (Html.BeginForm("Index", "Orde", FormMethod.Get))
    {
        <input type="text" name="search" /> <input type="submit" value="جستجو" class="btn-group btn btn-primary" />
    }
</p>
@{ var sort = ViewBag.SortType;}
<table class="table">
    <tr>
        <th>
            @{ if (sort == "orderOff")
                {
                    <a href="/Orde/Index/?sort=orderOff_desc" style="color:white"> تخفیف </a>
                }
                else
                {
                    <a href="/Orde/Index/?sort=orderOff" style="color:white">تخفیف</a>
                }
            }
        </th>
        <th>
           
                    <a style="color:white">آدرس</a>
             
        </th>
        <th>
          
                    <a  style="color:white">وضعیت</a>
             

        </th>
        <th>
            @{ if (sort == "username")
                {
                    <a href="/Orde/Index/?sort=username_desc" style="color:white"> نام کاربری </a>
                }
                else
                {
                    <a href="/Orde/Index/?sort=username" style="color:white">نام کاربری</a>
                }
            }
        </th>
        <th>
            @{ if (sort == "date")
                {
                    <a href="/Orde/Index/?sort=date_desc" style="color:white"> تاریخ </a>
                }
                else
                {
                    <a href="/Orde/Index/?sort=date" style="color:white">تاریخ</a>
                }
            }
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.orderOff)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address.addressDetail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderState.state)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.username)
            </td>
            <td>
                @if (item.date != null)
                {
                    @pep.pep.toPersianDateString((DateTime)item.date)
                }

            </td>
            <td>
                @Html.ActionLink("ویرایش", "Edit", new { id = item.orderID }) |
                @Html.ActionLink("مشاهده", "Details", new { id = item.orderID }) |
                @Html.ActionLink("حذف", "Delete", new { id = item.orderID })
            </td>
        </tr>
    }

</table>
<div class="panel-body">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), PagedListRenderOptions.ClassicPlusFirstAndLast)
</div>