@using PagedList;
@using PagedList.Mvc;
@model IPagedList<Shop.Models.Offer>

@{
    ViewBag.Title = "Index";

}

@*<h2>Index</h2>*@

<style>
    input[type=text] {
        width: 250px;
        height: 35px;
        border-radius: 4px;
        outline: none;
        border: 1px solid #DDDDDD;
        padding: 8px;
    }

    input:focus {
        border-color: #16a7eb;
        box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    }
</style>
<p>
    @Html.ActionLink("جدید", "Create")
</p>
<p>
    @using (Html.BeginForm("Index", "Offer", FormMethod.Get))
    {
        <input type="text" name="search" /> <input type="submit" value="جستجو" class="btn-group btn btn-primary" />
    }
</p>
@{ var sort = ViewBag.SortType;}
<table class="table">
    <tr>
        <th>
            @{ if (sort == "startDate")
                {
            <a href="/Offer/Index/?sort=startDate_desc" style="color:white"> تاریخ شروع  <i class="fa fa-caret-up"></i> </a>
                }
               else
                {
                <a href="/Offer/Index/?sort=startDate" style="color:white">تاریخ شروع <i class="fa fa-caret-down"></i></a>
                }
            }
        </th>
        <th>
            @{ if (sort == "endDate")
                {
            <a href="/Offer/Index/?sort=endDate_desc" style="color:white"> تاریخ پایان  <i class="fa fa-caret-up"></i> </a>
                }
               else
                {
                <a href="/Offer/Index/?sort=endDate" style="color:white">تاریخ پایان <i class="fa fa-caret-down"></i></a>
                }
            }
        </th>
        <th>
            @{ if (sort == "price")
                {
            <a href="/Offer/Index/?sort=price_desc" style="color:white"> قیمت <i class="fa fa-caret-up"></i>  </a>
                }
               else
                {
                <a href="/Offer/Index/?sort=price" style="color:white">قیمت <i class="fa fa-caret-down"></i></a>
                }
            }
        </th>
        <th>
            @{ if (sort == "offPercent")
                {
            <a href="/Offer/Index/?sort=offPercent_desc" style="color:white"> درصد تخفیف <i class="fa fa-caret-up"></i>  </a>
                }
               else
                {
                <a href="/Offer/Index/?sort=offPercent" style="color:white">درصد تخفیف <i class="fa fa-caret-down"></i></a>
                }
            }
        </th>
        <th>
            @{ if (sort == "name")
                {
            <a href="/Offer/Index/?sort=name_desc" style="color:white"> محصول <i class="fa fa-caret-up"></i> </a>
                }
               else
                {
                <a href="/Offer/Index/?sort=name" style="color:white">محصول <i class="fa fa-caret-down"></i></a>
                }
            }
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @pep.pep.toPersianDateString((DateTime)item.startDate)

            </td>
            <td>
                @pep.pep.toPersianDateString((DateTime)item.endDate)

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.offPercent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.name)
            </td>
            <td>
                @Html.ActionLink("ویرایش", "Edit", new { id = item.offerID }) |
                @Html.ActionLink("مشاهده", "Details", new { id = item.offerID }) |
                @Html.ActionLink("حذف", "Delete", new { id = item.offerID })
            </td>
        </tr>
    }

</table>
<div class="panel-body">
    @Html.PagedListPager(Model, page => Url.Action("Vitrin", new { page }), PagedListRenderOptions.ClassicPlusFirstAndLast)
</div>
