@model Shop.Models.Address
@{
    var user = (Shop.Models.User)ViewBag.user;
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}
<div style="width:98.9%;background-color:#f5f5f5;">
    <div class="row">
        <div class="container-fluid" style="margin-top:30px">
            <div class="row">
                <div class="col-sm-3">
                    <div class="col-sm-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <p> نام : @user.name</p>
                                <p> نام کاربری: @user.username</p>
                                <p> موبایل : @user.mobile</p>
                                <a style="border-radius:50%;position:absolute;top:7px;left:20px" class="btn btn-default" href="/panel/profile"><i class="fa fa-edit "></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <a class="text-primary" href="/panel"><i style="font-size:16px" class="fa fa-user "></i> &ensp; پروفایل </a>
                                <br />
                                <br />
                                <a class="text-primary" href="/panel/Orders"><i style="font-size:16px" class="fa fa-cart-arrow-down "></i> &ensp; همه ی سفارش ها </a>
                                <br />
                                <br />
                                <a class="text-primary" href="/panel/addresses"><i style="font-size:16px" class="fa fa-map-marker "></i>   &ensp; آدرس </a>

                                <br />
                                <br />
                                <a class="text-primary" href="/panel/comments"><i style="font-size:16px" class="fa fa-comment "></i>   &ensp; کامنت  </a>

                                <br />
                                <br />
                                <a class="text-primary" href="/panel/questinsAnswers"><i style="font-size:16px" class="fa fa-question "></i>   &ensp; سوال و جواب  </a>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-9">
                    <div class="col-sm-12">
                        <div class="panel panel-default">
                            <div class="form-horizontal">
                                <h4 style="padding-right:20px">حذف آدرس</h4>

                                <h3>آیا با حذف موافقید؟</h3>
                                <div>
                                    <hr />
                                    <dl class="dl-horizontal">
                                        <dt>
                                            @Html.DisplayNameFor(model => model.addressDetail)
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.addressDetail)
                                        </dd>

                                        <dt>
                                            @Html.DisplayNameFor(model => model.postalCode)
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.postalCode)
                                        </dd>

                                        <dt>
                                            @Html.DisplayNameFor(model => model.mobile)
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.mobile)
                                        </dd>

                                        <dt>
                                            @Html.DisplayNameFor(model => model.phone)
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.phone)
                                        </dd>

                                    </dl>

                                    @using (Html.BeginForm())
                                    {
                                        @Html.AntiForgeryToken()


                                        <div class="form-actions no-color">
                                            <input type="submit" value="حذف" class="btn btn-default" /> |
                                            @Html.ActionLink("بازگشت به لیست", "addresses")
                                        </div>

                                    }

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
