@model IEnumerable<Shop.Models.UserGroup>

@{
    ViewBag.Title = "Index";
   
}

@*<h2>Index</h2>*@

<p>
    @Html.ActionLink("جدید", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.groupName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.groupName)
        </td>
        <td>
            @Html.ActionLink("ویرایش", "Edit", new { id=item.usergroupID }) |
            @Html.ActionLink("مشاهده", "Details", new { id=item.usergroupID }) |
            @Html.ActionLink("حذف", "Delete", new { id=item.usergroupID })
        </td>
    </tr>
}

</table>
