@model Shop.Models.User

@{
    ViewBag.Title = "Details";
    
}



<div>
    <h4>کاربر</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mobile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mobile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sex)
        </dt>

        <dd>
            @if (Model.sex==true)
            {
                <p>مرد</p>
            }
            else
            {
                <p>زن</p>
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserGroup.groupName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserGroup.groupName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("ویرایش", "Edit", new { id = Model.userID }) |
    @Html.ActionLink("بازگشت به لیست", "Index")
</p>
