@model Shop.Models.Question

@{
    ViewBag.Title = "Delete";
    
}

<h2>حذف</h2>

<h3>آیا با حذف موافقید؟</h3>
<div>
    @*<h4>Question</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.questionText)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.questionText)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.questionDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.questionDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.username)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("بازگشت به لیست", "Index")
        </div>
    }
</div>
