@model IEnumerable<Shop.Models.ProductCategory>

@{
    ViewBag.Title = "Index";
    
}

@*<h2>Index</h2>*@

<p>
    @Html.ActionLink("جدید", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.categoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductCategory1.categoryName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.categoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductCategory1.categoryName)
        </td>
        <td>
            @Html.ActionLink("ویرایش", "Edit", new { id=item.categoryID }) |
            @Html.ActionLink("مشاهده", "Details", new { id=item.categoryID }) |
            @Html.ActionLink("حذف", "Delete", new { id=item.categoryID })
        </td>
    </tr>
}

</table>
